body {

    position: relative;

}

#myJumbo {

    background-color: #1F1F1F !important;
    color: #DDDDDD;

}

.lentovo {

    background-color: #1F1F1F;

}

#download {

    background-color: pink;

}
